/* css file for note section */

@mixin github {
  body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    // color: rgb(51, 51, 51);
    color: black;
    line-height: 1.8;
  }
  body>*:first-child {
    margin-top: 0 !important;
  }
  body>*:last-child {
    margin-bottom: 0 !important;
  }
  a {
    color: #4183C4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
  }
  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor {
    /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
    text-decoration: none;
  }
  h1 tt,
  h1 code {
    font-size: inherit;
  }
  h2 tt,
  h2 code {
    font-size: inherit;
  }
  h3 tt,
  h3 code {
    font-size: inherit;
  }
  h4 tt,
  h4 code {
    font-size: inherit;
  }
  h5 tt,
  h5 code {
    font-size: inherit;
  }
  h6 tt,
  h6 code {
    font-size: inherit;
  }
  h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
  }
  h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
    color: #777;
  }
  p,
  blockquote,
  ul,
  ol,
  dl,
  table {
    margin: 0.8em 0;
    // color: rgb(102, 92, 92);
  }
  li>ol,
  li>ul {
    margin: 0 0;
  }
  hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
  }
  body>h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  body>h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
  }
  body>h3:first-child,
  body>h4:first-child,
  body>h5:first-child,
  body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  a:first-child h1,
  a:first-child h2,
  a:first-child h3,
  a:first-child h4,
  a:first-child h5,
  a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }
  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p {
    margin-top: 0;
  }
  li p.first {
    display: inline-block;
  }
  ul,
  ol {
    padding-left: 30px;
  }
  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
  blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
  }
  blockquote blockquote {
    padding-right: 0;
  }
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    padding: 0;
    border-collapse: collapse;
  }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr th:first-child,
  table tr td:first-child {
    margin-top: 0;
  }
  table tr th:last-child,
  table tr td:last-child {
    margin-bottom: 0;
  }
/*  .CodeMirror-gutters {
    border-right: 1px solid #ddd;
  }
  .md-fences,
code,
tt {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
} */
  .task-list {
    padding-left: 0;
  }
  .task-list-item {
    padding-left: 10px;
  }
  .task-list-item input {
    top: 3px;
    left: 8px;
  }
  @media print {
    html {
      font-size: 13px;
    }
    table,
    pre {
      page-break-inside: avoid;
    }
    pre {
      word-wrap: break-word;
    }
  }
}